server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kanghu_db?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: 123456
  jackson:
    serialization:
      fail-on-empty-beans: false
